.troopid .form-list {
    width: 100%;

}
.troopid-connect.first {
    margin: 5px 0 0 0;
}
.troopid-connect.last {
    margin: 0 0 10px 0;
}
.troopid-connect fieldset.config {
    display: none;
}
.troopid-connect .heading {
    display: block;
    float: none;
}
.troopid-connect.first .heading {
    padding: 2px 0 0 150px;
    background: url("images/logo.png") no-repeat scroll 0 0 transparent;
}
.troopid-connect .steps {
    margin: 0 0 0 15px;
    list-style: square;
}