.troopid-connect {
    text-align: center;
}
.troopid-connect h2 {
    padding: 0 !important;
    background: none !important;
}
.troopid-connect .button {
    margin: 10px 0 0 0;
}

.troopid-connect .about {
    margin: 10px 0 0 0;
}

#troopid-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.75;
    z-index: 100;
}

#troopid-modal-content {
    position: fixed;
    left: 25%;
    top: 25%;
    background: #ffffff;
    opacity: 1;
    z-index: 200;
    text-align: left;
    padding: 20px;
    max-width: 900px;
}

#troopid-modal-content h3 {
    font-weight: bold;
    display: inline-block;
}

#troopid-modal-content .close {
    float: right;
    font-weight: bold;
    margin: -5px 0 0 0;
    text-decoration: none;
}